
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'FiraCode NF';
    font-size: 20px;
}

window#waybar {
    background-color: #2d353b;
    border-bottom: 3px solid #2d353b;
    color: #eceff4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;

}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #2d353b;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window {
    background-color: #7fbbb3;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
    margin-left: 5;
    margin-right: 5
}
#workspaces {
    background-color: #dbbc7f;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

/* If workspaces is the leftmost module, omit left margin */


#clock {
    background-color: #a7c080;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

#battery {
    background-color: #d699b6;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

#battery.charging, #battery.plugged {
    background-color: #d699b6;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #dbbc7f;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #e67e80;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

#network.disconnected {
    background-color: #e67e80;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

#pulseaudio {
    background-color: #83c092;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #dbbc7f;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    background-color: #dbbc7f;
    color: #2d353b;
    padding-left: 5;
    padding-right: 5;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}
#custom-armenu {
    background-color: #7fbbb3;
    color: #2d353b;
    padding-left: 10;
    padding-right: 17;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 22;
}
#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
