window {
    margin: 0px;
    background-color: #2d353b;
    border-radius: 30px;
    border: 2px solid #e67e80;
    color: #d3c6aa;
    font-family: 'FiraCode Nerd Font';
    font-size: 16px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 22px;
    color: #e67e80;
    background-color: #2d353b;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2d353b;
    color: #2d353b;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #2d353b;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d3c6aa;
} 

#entry:selected {
    background-color: #e67e80;
    color: #2d353b;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #e67e80;
    color: #2d353b;
    border-radius: 20px;
    outline: none;
}